body {
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    color: white;
}